.logo {
  height: 25px;
  margin-top: 25px;
  color: #424242;
  font-size: 20px;
  font-family: "Arial Black", Gadget, sans-serif ;
}

.read_out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
}

.read_out_text {
  font-size: 14px;
}

.instant_search {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search_icon {
  cursor: pointer;
  padding: 3px;
}

.search_input {
  width: 100%;
}

.search_icon {
  background-color: #9E9E9E;
}

.search_options {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_new {
  display: flex;
  flex-direction: column;
}

.add_new input {
  margin-top: 5px;
}

.add_new_button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.quick_navigate {
  margin-top: 10px;
  cursor: pointer;
}

.shortcuts {
  display: none;
}

.loaded_shortcuts {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
